#wrapper {
    display: flex;
    margin-top: 15vh;
    align-content: center;
    justify-content: space-evenly;

    font-family: 'Courier New', Courier, monospace;
    user-select: none;
}

#control-panel {
    border: 1px solid black;
    border-radius: 10px;
    height: 512px;
    width: 256px;


}

#pixel-canvas {
    border: 1px solid black;
    height: 512px;
    width: 512px;
    image-rendering: auto;
    image-rendering: crisp-edges;
    image-rendering: pixelated;

    cursor: pointer;
    background-color: white;
}

#info-text {
    text-align: right;
    color: darkgray;
    font-size: 12px;
}

#color-grid {
    display: grid;
    width: 154px;
    height: 154px;
    box-sizing: border-box;
    gap: 1px;
    border: 1px solid black;
    background-color: black;

    cursor: pointer;

    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;


}


#grid {
    position: absolute;
    width: 512px;
    height: 512px;
    display: grid;
    pointer-events: none;
}

.grid-pixel {
    width: 14px;
    height: 14px;
    border: 1px solid rgba(0, 0, 0, 0.1);
}


.section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    align-content: center;
}

.label {
    margin-bottom: 8px;
}

.label:first-of-type {
    margin-top: 0;
}

#color-history {
    display: flex;
    border: 1px solid black;
    gap: 1px;
    background-color: black;
}



#color-history .current-color {
    border: 0;
}



.color {
    width: 1fr;
    height: 1fr;
    box-sizing: border-box;
}

#current-color {
    width: 50px;
    height: 50px;
    background-color: black;
    box-sizing: border-box;
    border: 1px solid black;
}

.saved-color {
    width: 50px;
    height: 50px;
    box-sizing: border-box;
    border: 0;

    background-color: white;
}

#control-panel input {
    width: 50px;
    height: 50px;
}

#misc-panel {
    border: 1px solid black;
    border-radius: 10px;
    height: 512px;
    width: 256px;

}

#misc-panel>.section {
    gap: 10px;
    padding-top: 18px;
    ;
    justify-content: flex-start;
}

#brush-range {
    width: 200px;
}

#resolution {
    appearance: none;
    height: 30px;
    width: 100px;
    font-family: 'Courier New', Courier, monospace;
    border: 1px solid black;
    text-align: center;
}

#brush-labels {
    width: 200px;
    display: flex;
    justify-content: space-around;
}

#resolution:focus {
    color: white;
    background-color: #181818;
    border: 1px solid black;
}
.test {
    font-size: 8px;
    width: 20px;
}

.button {
    height: 30px;
    width: 100px;

    font-family: 'Courier New', Courier, monospace;
    border: 1px solid black;
}

.export {
    width: 209.61px
}

.button:hover {
    box-shadow: inset 0 0 3px black;
}

.button:focus {
    color: white;
    background-color: #181818;
}

.red {
    background-color: red;
}

.green {
    background-color: green;
}

.blue {
    background-color: blue;
}

.yellow {
    background-color: yellow;
}

.brown {
    background-color: brown;
}

.purple {
    background-color: purple;
}

.white {
    background-color: white;
}

.gray {
    background-color: gray;
}

.black {
    background-color: black;
}

.red {
    background-color: red;
}