#wrapper {
    margin-top: 15vh;
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    align-content: center;
    justify-content: space-evenly;
    user-select: none;
}

#grid {
    width: 512px;
    height: 512px;
    position: absolute;
    display: grid;
    pointer-events: none;
}

.grid-pixel {
    width: 14px;
    height: 14px;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

#color-panel {
    height: 512px;
    min-width: 256px;
    border: 1px solid black;
    border-radius: 10px;
}

#color-palette {
    width: 154px;
    height: 154px;
    box-sizing: border-box;
    border: 1px solid black;
    background-color: black;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 1px;
}

.palette-item {
    width: 1fr;
    height: 1fr;
    box-sizing: border-box;
}

#current-color {
    width: 50px;
    height: 50px;
    box-sizing: border-box;
    border: 1px solid black;
    background-color: black;
}

#color-panel input {
    width: 50px;
    height: 50px;
    border: 1px solid black;
}

#color-history {
    display: flex;
    border: 1px solid black;
    gap: 1px;
    background-color: black;
}

.saved-color {
    width: 50px;
    height: 50px;
    box-sizing: border-box;
    background-color: white;
}

#pixel-canvas {
    height: 512px;
    width: 512px;
    background-color: white;
    border: 1px solid black;
    image-rendering: auto;
    image-rendering: crisp-edges;
    image-rendering: pixelated;
}

#info-text {
    font-size: 12px;
    text-align: right;
    color: darkgray;
}

#misc-panel {
    height: 201px;
    min-width: 256px;
    border: 1px solid black;
    border-radius: 10px;
    overflow: hidden;
}

#misc-panel .panel-content {
    gap: 10px;
}

#brush-slider {
    width: 200px;
}

#resolution-select {
    min-height: 30px;
    width: 100px;
    border: 1px solid black;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}

.panel-content{
    min-width: 100%;
    height: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 2px;
}

.label {
    padding: 10px;
}

p {
    margin: 0;
    padding: 0;
}

.small-button,
.long-button {
    min-height: 30px;
    border: 1px solid black;
    font-family: 'Courier New', Courier, monospace;
}

.small-button {
    width: 100px;
}

.small-button:hover{
    background-color: black;
    color:white;
}


.long-button {
    width: 209.61px;
}

.long-button:hover {
    background-color: black;
    color:white;
}

.palette-item,
#color-panel input,
.saved-color,
#misc-panel input,
.long-button,
.small-button,
#misc-panel select {
    cursor: pointer;
}

#pixel-canvas {
    cursor: crosshair;
}

.red {
    background-color: red;
}

.green {
    background-color: green;
}

.blue {
    background-color: blue;
}

.yellow {
    background-color: yellow;
}

.brown {
    background-color: brown;
}

.purple {
    background-color: purple;
}

.white {
    background-color: white;
}

.gray {
    background-color: gray;
}

.black {
    background-color: black;
}

.red {
    background-color: red;
}

.expand-panel {
    animation: expand-panel 1s ease 0s 1 normal forwards;
}

.shrink-panel {
    animation: shrink-panel 1s ease 0s 1 normal forwards;
}


@keyframes expand-panel {
    0% {
        height: 201px;
        transform-origin: 100% 0%;
    }

    100% {
        height: 512px;
        transform-origin: 100% 0%;
    }
}

@keyframes shrink-panel {
    0% {
        height: 512px;
        transform-origin: 100% 0%;
    }

    100% {
        height: 201px;
        transform-origin: 100% 0%;
    }
}