#wrapper {
    display: flex;
    justify-content: center;
    margin-top: 15vh;
}

#pixel-canvas {
    border: 1px solid black;
    height: 512px;
    width: 512px;
    image-rendering: pixelated;
    image-rendering: crisp-edges;
}